/*#id1 {
    background-color: rgb(127, 255, 212); 
    width: 100px; 
    height: 100px;
}

#id2 {
    background-color: rgb(177, 85, 253); 
    width: 100px; 
    height: 100px;
}

#id3 {
    background-color: rgb(255, 214, 252); 
    width: 100px; 
    height: 100px;
}*/

div{
    width: 100px;
    height: 100px;
}

div:first-child{
    background-color: red;
}
div:nth-child(2){
    background-color: yellow;
}
div:nth-child(3){
    background-color: blue;
}