body{
    background-image: url("../img/Fondo_jojos.jpg");
    background-size: cover;
}
/*Div de contenedor de todo mi código css*/
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*Div donde se mostrará las monedas y número de aquellas presentes*/
.container__monedas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36rem;
    height: 8rem;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 5rem;
}
/*Imagen de la moneda*/
#img_moneda{
    width: 5rem;
}
/*CSS para cada boton se irán apareciendo*/
.botones{
    margin: 10px;
    width: 15rem;
    height: 6rem;
    background-color: #000000;
    border: none;
    border-radius: 25px;
    color:white;
    font-weight: bold;
    font-size: 50px;
}

/*Codigo CSS para los +1 que iran apareciendo en pantalla*/
.sumar{
    position: absolute;
    color: white;
    font-size: 50px;
    background-color: #b1bc51; /* Fondo de color atractivo */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Sombra para destacar */
    animation: sumar_mas_uno 2s;
}

@keyframes sumar_mas_uno {
    from{
        transform: translateY(0%);
        opacity: 1;
    }
    to{
        transform: translateY(-150%);
        opacity: 0;
    }
}

/* Efecto de cambio de color al pasar el ratón sobre el botón */
.botones:hover {
    background-color: #b1bc51; /* Gris oscuro */
    color: black;
}

/*CSS DEL PANEL CUANDO LE DAMOS AL BOTON DE EDIFICIO*/
.panel_edificio{
    display: none;
    position: absolute;
    text-align: center;
    width: 20%;
    margin: 3%;
    margin-top: 20%;
    background-color: #0d0b0b;
    padding: 1%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    right: 19.7%;
}
.panel_edificio input{
    width: 80%;
    margin-left: 20%;
    border-radius: 100px;
    margin: 1%;
    cursor: pointer;
}
.panel_edificio input:hover{
    scale: 1.1;
}

.container__edificio{
    display: none;
}

/*Css del boton que recogerá recursos*/
#btn_recoger{
    display: none;
    margin-left: auto; /* Empuja el botón hacia la derecha */
    margin-top: -20rem;
    width: 7rem;
    height: 3rem;
    background-color: #000000;
    border: none;
    border-radius: 25px;
    color:white;
    font-weight: bold;
    font-size: 25px;
    animation: mover_recoger 2s;
}
@keyframes mover_recoger {
    from{
        opacity: 0;
        transform: translateY(-200%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

#btn_recoger:hover{
    background-color: #b1bc51;
    cursor: pointer;
}

/*CSS para las imagenes de los recursos*/
.recursos{
    display: none;
    position: absolute;
    left: 3rem;
    top: 13rem;
    animation: mover_cajas 2s;
}

@keyframes mover_cajas {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

.imagen_recursos{
    width: 50px;
    height: 54px;
}
.texto_recursos{
    color:white;
}

/*Diseño completamente responsivo*/
@media (max-width: 576px){
    body{
        background-image: url("../img/fondo_movil.png");
        background-size: cover;
    }
}